@keyframes seq-preloader {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.seq-preloader {
    background: white;
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.seq-preloader.seq-preloaded {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
    overflow: visible;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seq-text-indicator {
    overflow: visible;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seq-preload-circle {
    display: inline-block;
    height: 12px;
    width: 12px;
    fill: #1BC3E1;
    opacity: 0;
    animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-1 {
    animation-delay: .15s;
}

.seq-preload-circle-2 {
    animation-delay: .3s;
}

.seq-preload-circle-3 {
    animation-delay: .45s;
}

.seq-preload-indicator-fallback {
    width: 42px;
    overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
    width: 8px;
    height: 8px;
    background-color: #1BC3E1;
    border-radius: 100%;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
    margin-left: 3px;
    margin-right: 3px;
    width: 12px;
    height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
    width: 16px;
    height: 16px;
}