<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>BlackMail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<!-- Icon -->
	<link rel="shortcut icon" href="images/favicon.ico"/>

	<!-- Bootstrap and AngularJS-->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<script src="js/libs/angular.min.js"></script>

	<!-- Fonts and reset stylesheet -->
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/roboto-fonts.css" />

	<!-- Perfect scrollbar -->
	<link rel='stylesheet' href='css/perfect-scrollbar.min.css' />
	<link rel="stylesheet" href="css/nanoscroller.css" />
	<script src='js/libs/perfect-scrollbar.min.js'></script>
	<script src='js/angular.perfectscrollbar.js'></script>
	
	<!-- Custom stylesheet With Less -->
	<link rel="stylesheet/less" type="text/css" href="less/mail_main_style.less"/>
	<script src="js/less.config.js"></script>
	<script src="js/libs/less.min.js"></script>
	<link rel="stylesheet" href="css/floating-bars.css"/>

	<!-- iFrame resizer -->
	<!-- script src="js/libs/iframeResizer.min.js"></script -->

	<!-- Updated Date.js from https://github.com/abritinthebay/datejs -->
	<script src="js/libs/date-es-ES.min.js"></script>
	
	<!-- Decode plugin -->
	<script src="js/libs/base64.min.js"></script>
	<script src="js/libs/lz-string.min.js"></script>

	<!-- Bluebird promise library (Not necessary, at the moment)-->
	<!-- script src="js/bluebird.min.js"></script -->

	<!-- Prefix Free plugin -->
	<script src="js/libs/prefixfree.min.js"></script>

	<!-- Our mail plugin -->
	<script src="js/system.core.js"></script>
	<script src="js/system.notifications.js"></script>
	<script src="js/system.storage.js"></script>
	<script src="js/message.methods.js"></script>
	<script src="js/thread.methods.js"></script>
	<script src="js/gmail.request.js"></script>
	<script src="js/methods.iframe.js"></script>

	<!-- Angular plugins -->
	<script src='js/angular.perfectscrollbar.js'></script>
	<script src='js/angular.stylescontroller.js'></script>
	<script src="js/libs/angular.off-click.js"></script>
	<script src="js/angular.emailtemplate.js"></script>
	<script src="js/angular.gmailcontroller.js"></script>

	<!-- JavaScript Google API client library -->
	<script src="js/libs/google.api.min.js"></script>
</head>
<body id="mainBody" ng-controller="GmailMainController" ng-class="{'show-message': data.messageActive >= 0,
	'show-main-overlay': data.showOverlay, 'show-sidebar': data.showSidebar, 'show-compose': data.showCompose }" onload="handleLoad()" >

	<!-- Left lateral bar -->
	<aside id="sidebar" class="nano">
	  <div class="nano-content" perfect-scrollbar>
		<div class="personal-container">
			<img id ="personalPhoto" ng-src="{{data.personalPhoto}}"/>
			<div id="personalName">{{data.personalName}}</div>
		</div>
		<div class="separator"></div>

		<div class="logo-container">
			<span class="logo glyphicon glyphicon-envelope"></span>Mail
		</div>
		<a class="compose-button" ng-class="{red: data.showCompose }" ng-click="clickOnCompose()">
		    <span ng-hide="data.showCompose">Compose</span> <span ng-show="data.showCompose">Close</span>
		</a>

		<menu class="menu-segment">
		  <ul>
			<li ng-repeat="label in data.labels" ng-click="setLabel(label)" ng-class="{active: isActiveLabel(label)}">
				<a>
					<i class="fa" ng-class="label.class"> &nbsp; </i>
					{{label.name}}<span ng-show="label.unread"> ({{label.unread}})</span>
				</a>
			</li>
		  </ul>
		</menu>
		<div class="separator"></div>
		<div class="menu-segment">
		  <ul class="labels">
			<li class="title">Labels <span class="icon">+</span></li>
			<li><a>Dribbble <span class="ball pink"></span></a></li>
			<li><a>Roommates <span class="ball green"></span></a></li>
			<li><a>Bills <span class="ball blue"></span></a></li>
		  </ul>
		</div>
		<div class="separator"></div>
		<div class="menu-segment">
		  <ul class="chat">
			<li class="title">Chat <span class="icon">+</span></li>
			<li><a><span class="ball green"></span>Laura Turner</a></li>
			<li><a><span class="ball green"></span>Kevin Jones</a></li>
			<li><a><span class="ball blue"></span>John King</a></li>
			<li><a><span class="ball blue"></span>Jenny Parker</a></li>
			<li><a><span class="ball blue"></span>Paul Green</a></li>
			<li><a class="italic-link">See offline list</a></li>
		  </ul>
		</div>
		<div class="bottom-padding"></div>
	  </div>
	</aside>
	
	<!-- Main centered mail list -->
	<main id="main">
	  <div class="overlay" ng-click="clickOnOverlay()"></div>
	  <header class="header">
		<div class="search-box">
		  <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
		</div>
		<h1 class="page-title">
			<a class="sidebar-toggle-btn" ng-click="clickOnToggleSidebar()">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
				<span class="line line-angle1"></span>
				<span class="line line-angle2"></span>
			</a>
			<i class="fa" ng-class="data.selectedLabel.class"> &nbsp; </i> {{data.selectedLabel.name}}
			<span class="menu" ng-show="showCategoryMenu()">
				<a ng-click="clickShowMenu()"><span class="icon selectable-menu glyphicon" ng-class="{'glyphicon-chevron-down': !data.showMenu, 'glyphicon-chevron-up': data.showMenu}"></span></a>
				<ul class="sub-menu" ng-class="{'show-menu': data.showMenu}" >
					<li ng-repeat="category in data.categories" ng-click="setCategory(category)"><i class="fa" ng-class="category.class"> &nbsp; </i>{{category.name}}</li>
				</ul>
			</span>
		</h1>
	  </header>
	  <div class="action-bar">
		<ul class="action-threads">
		  <li><a class="icon circle-icon glyphicon glyphicon-chevron-down"></a></li>
		  <li><a class="icon circle-icon glyphicon glyphicon-refresh"></a></li>
		  <li><a class="icon circle-icon glyphicon glyphicon-share-alt"></a></li>
		  <li><a class="icon circle-icon red glyphicon glyphicon-remove"></a></li>
		  <li><a class="icon circle-icon red glyphicon glyphicon-flag"></a></li>
		</ul>
		<ul class="action-pages">
		  <li><a class="icon circle-icon glyphicon glyphicon-chevron-right" ng-class="{disabled: (data.currentPage + 1) == data.numOfPages}" ng-click="clickNextPage()"></a></li>
		  <li><a class="text message-big">&nbsp; Showing {{getNumShowingThreads()}} out of {{data.numOfThreads}} messages (page {{data.currentPage + 1}} of {{data.numOfPages}}) &nbsp;</a></li>
		  <li><a class="text message-small"> {{data.currentPage + 1}}/{{data.numOfPages}} </a></li>
		  <li><a class="icon circle-icon glyphicon glyphicon-chevron-left" ng-class="{disabled: data.currentPage == 0}" ng-click="clickPreviousPage()"></a></li>
		</ul>
	  </div>

	  <div id="main-nano-wrapper" class="nano">
		<div class="nano-content" perfect-scrollbar>
		  <ul class="message-list">
			  <li class="orange-dot" ng-repeat="msg in data.messageList" ng-class="{unread: isUnread(msg.labels), active: data.messageActive == $index}" ng-click="clickOnThread($event, $index)">
				  <div class="col col-1 col-sm-3 col-xs-10">
					  <span class="dot"></span>
					  <div class="checkbox-wrapper">
						  <input type="checkbox" id="chk{{$index}}" ng-click="clickOnCheckbox($event, $index)">
						  <label for="chk{{$index}}" class="toggle"></label>
					  </div>
					  <span class="star-toggle glyphicon" ng-class="{'glyphicon-star-empty': !isImportant(msg.labels), 'important glyphicon-star': isImportant(msg.labels)}"></span>
					  <span class="title">{{msg.sender}} {{msg.numOfMsgs}}</span>
				  </div>
				  <div class="col col-3 col-sm-1 col-xs-2">
					  <div class="date">{{formatDateShort(msg.date)}}</div>
				  </div>
				  <div class="col col-2 col-sm-8 col-xs-11">
					  <div class="subject">
						  {{msg.subject}}<span ng-hide="!msg.snippet"> &nbsp;&ndash;&nbsp; <span class="teaser">{{msg.snippet}}</span></span>
					  </div>
				  </div>

			  </li>
		  </ul>
        </div>
	  </div>
	</main>
	
	<!-- Message right menu -->
	<div id="message">
	  <div class="header">
		<div class="page-title">
			<a class="icon circle-icon glyphicon glyphicon-chevron-left" ng-click="clickOnHideThread()"></a>
			{{data.activeThread.subject}} <span class="grey">{{data.activeThread.numOfMsgs}}</span>
		</div>
		<p>From <a>You</a> to <a>Scott Waite</a>, started on <a>March 2, 2014</a> at 2:14 pm est.</p>
	  </div>
	  <div id="message-nano-wrapper" class="nano">
		<div class="nano-content" perfect-scrollbar>
		  <ul class="message-container">
			  <li ng-repeat="msg in data.activeThread.messages" ng-class="{sent: $even, received: $odd}">
				  <div class="details">
					  <div class="left">You
						  <div class="arrow" ng-class="{orange: $odd}"></div>Scott
					  </div>
					  <div class="right">March 6, 2014, 20:08 pm</div>
				  </div>
				  <div class="message">
					  <iframe id="iframe{{$index}}" frameBorder="0" src="about:blank" scrolling="no" ng-email-iframe="{{msg.html}}" height="0"></iframe>
					  <a ng-download-button="{{msg.html}}">Download Email</a>
				  </div>
				  <div class="tool-box">
					  <a class="circle-icon small glyphicon glyphicon-share-alt"></a>
					  <a class="circle-icon small red-hover glyphicon glyphicon-remove"></a>
					  <a class="circle-icon small red-hover glyphicon glyphicon-flag"></a>
				  </div>
			  </li>
		  </ul>
		</div>
	  </div>
	</div>

	<div id="compose">
		<div class="header">
			<h1 class="page-title">Write a new email<span class="grey">(Template)</span></h1>
		</div>
	</div>

	<!-- Loading -->
	<div id="loading-page" ng-show="data.loading">
		<div class="seq-preloader">
			<div id="loader"></div>
			<svg height="16" width="42" class="seq-preload-indicator">
				<circle class="seq-preload-circle seq-preload-circle-1" cx="4" cy="8" r="4">  </circle>
				<circle class="seq-preload-circle seq-preload-circle-2" cx="17" cy="8" r="6"> </circle>
				<circle class="seq-preload-circle seq-preload-circle-3" cx="34" cy="8" r="8">  </circle>
			</svg>
			<div class="seq-text-indicator">
				{{data.loadingMessage}}
			</div>
		</div>
	</div>
</body>

</html>