<!DOCTYPE html>
<html ng-app="styles">
<head>
    <meta charset="UTF-8">
    <title>Responsive Mail UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- Icon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>

    <!-- Fonts and reset stylesheet -->
    <link rel="stylesheet" href="css/roboto-fonts.css"/>
    <link rel="stylesheet" href="css/reset.css"/>

    <!-- Custom stylesheet With Less -->
    <link rel="stylesheet/less" type="text/css" href="less/mail_main_style.less"/>
    <script src="js/less.config.js"></script>
    <script src="js/libs/less.min.js"></script>

    <!-- Perfect scroller -->
    <script src="js/libs/angular.min.js"></script>
    <link rel='stylesheet' href='css/perfect-scrollbar.min.css'/>
    <link rel="stylesheet" href="css/style.email.css"/>

    <link rel="stylesheet" href="css/nanoscroller.css"/>
    <script src='js/libs/perfect-scrollbar.min.js'></script>
    <script src="js/libs/angular.off-click.js"></script>
    <script src="js/libs/angular.elastic.js"></script>

    <script src="js/system.core.js"></script>
    <script src="js/methods.iframe.js"></script>
    <script src="js/angular.emailtemplate.js"></script>
    <script src='js/angular.perfectscrollbar.js'></script>
    <script src='js/angular.stylescontroller.js'></script>

    <!-- Prefix Free plugin -->
    <script src="js/libs/prefixfree.min.js"></script>
</head>
<body id="mainBody" ng-controller="StylesController" ng-class="{'show-message': data.messageActive >= 0,
    'show-main-overlay': data.showOverlay, 'show-sidebar': data.showSidebar, 'show-compose': data.showCompose }">

<!-- Left lateral bar -->
<aside id="sidebar" class="nano">
    <div class="nano-content" perfect-scrollbar>
        <div class="logo-container">
            <span class="logo glyphicon glyphicon-envelope"></span>Mail
        </div>
        <a class="compose-button" ng-class="{red: data.showCompose }" ng-click="clickOnCompose()">
            <span ng-hide="data.showCompose">Compose</span> <span ng-show="data.showCompose">Close</span>
        </a>
        <menu class="menu-segment">
            <ul>
                <li class="active"><a><i class="fa fa-inbox"> &nbsp; </i>Inbox<span> (43)</span></a></li>
                <li><a><i class="fa fa-star"> &nbsp; </i>Important</a></li>
                <li><a><i class="fa fa-paper-plane"> &nbsp; </i>Sent</a></li>
                <li><a><i class="fa fa-file-text"> &nbsp; </i>Drafts</a></li>
                <li><a><i class="fa fa-trash"> &nbsp; </i>Trash</a></li>
            </ul>
        </menu>
        <div class="separator"></div>
        <div class="menu-segment">
            <ul class="labels">
                <li class="title">Labels <span class="icon">+</span></li>
                <li><a>Dribbble <span class="ball pink"></span></a></li>
                <li><a>Roommates <span class="ball green"></span></a></li>
                <li><a>Bills <span class="ball blue"></span></a></li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="menu-segment">
            <ul class="chat">
                <li class="title">Chat <span class="icon">+</span></li>
                <li><a><span class="ball green"></span>Laura Turner</a></li>
                <li><a><span class="ball green"></span>Kevin Jones</a></li>
                <li><a><span class="ball blue"></span>John King</a></li>
                <li><a><span class="ball blue"></span>Jenny Parker</a></li>
                <li><a><span class="ball blue"></span>Paul Green</a></li>
                <li><a class="italic-link">See offline list</a></li>
            </ul>
        </div>
        <div class="bottom-padding"></div>
    </div>
</aside>

<!-- Main centered mail list -->
<main id="main">
    <div class="overlay" ng-click="clickOnOverlay()"></div>
    <header class="header">
        <div class="search-box">
            <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
        </div>
        <h1 class="page-title">
            <a class="sidebar-toggle-btn trigger-toggle-sidebar" ng-click="clickOnToggleSidebar()">
                <span class="line"></span><span class="line"></span>
                <span class="line"></span><span class="line line-angle1"></span>
                <span class="line line-angle2"></span>
            </a>
            <i class="fa fa-envelope-square"> &nbsp; </i> Personal
			<span class="menu">
				<a ng-click="clickShowMenu()"><span class="icon selectable-menu glyphicon"
                                                    ng-class="{'glyphicon-chevron-down': !data.showMenu, 'glyphicon-chevron-up': data.showMenu}"></span></a>
				<ul class="sub-menu" ng-class="{'show-menu': data.showMenu}">
                    <li><i class="fa fa-users"> &nbsp; </i> Social</li>
                    <li><i class="fa fa-comments"> &nbsp; </i> Forums</li>
                    <li><i class="fa fa-tags"> &nbsp; </i> Promotions</li>
                    <li><i class="fa fa-info-circle"> &nbsp; </i> Groups</li>
                </ul>
			</span>
        </h1>
    </header>
    <div class="action-bar">
        <ul class="action-threads">
            <li><a class="icon circle-icon glyphicon glyphicon-chevron-down"></a></li>
            <li><a class="icon circle-icon glyphicon glyphicon-refresh"></a></li>
            <li><a class="icon circle-icon glyphicon glyphicon-share-alt"></a></li>
            <li><a class="icon circle-icon red glyphicon glyphicon-remove"></a></li>
            <li><a class="icon circle-icon red glyphicon glyphicon-flag"></a></li>
        </ul>
        <ul class="action-pages">
            <li><a class="icon circle-icon glyphicon glyphicon-chevron-right"
                   ng-class="{disabled: (data.currentPage + 1) == data.numOfPages}" ng-click="clickNextPage()"></a></li>
            <li><a class="text message-big">&nbsp; Showing 20 out of 140 messages (page 2 of 7) &nbsp;</a></li>
            <li><a class="text message-small"> 112/1097 </a></li>
            <li><a class="icon circle-icon glyphicon glyphicon-chevron-left"
                   ng-class="{disabled: data.currentPage == 0}" ng-click="clickPreviousPage()"></a></li>
        </ul>
    </div>
    <div id="main-nano-wrapper" class="nano">
        <div class="nano-content" perfect-scrollbar>
            <ul class="message-list">
                <li ng-class="{unread: isUnread(['UNREAD']), active: data.messageActive == 0}"
                    ng-click="clickOnThread($event, 0)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk0" ng-click="clickOnCheckbox($event, 0)">
                            <label for="chk0" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Lucas Giuseppe Kriebel Zanotti (via Twitter)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">11:49 am</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Lucas Kriebel (@LucasKriebel) has sent you a direct message on Twitter!
                            &nbsp;&ndash;&nbsp; <span class="teaser">@LucasKriebel - Very cool :) Nicklas, You have a new direct message.</span>
                        </div>
                    </div>
                </li>
                <li class="green-dot" ng-class="{unread: isUnread(['UNREAD']), active: data.messageActive == 1}"
                    ng-click="clickOnThread($event, 1)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk1" ng-click="clickOnCheckbox($event, 1)">
                            <label for="chk1" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Conceptboard</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">11:45 am</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Please complete your Conceptboard signup &nbsp;&ndash;&nbsp; <span
                                class="teaser">You recently created a Conceptboard account, but you have not yet confirmed your email. Your email is used for notifications about board activity, invites, as well as account related tasks (like password retrieval).</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread(['UNREAD']), active: data.messageActive == 2}"
                    ng-click="clickOnThread($event, 2)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk2" ng-click="clickOnCheckbox($event, 2)">
                            <label for="chk2" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star important"></span>
                        <span class="title">Randy, me (5)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">5:01 am</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Last pic over my village &nbsp;&ndash;&nbsp; <span class="teaser">Yeah i'd like that! Do you remember the video you showed me of your train ride between Colombo and Kandy? The one with the mountain view? I would love to see that one again!</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 3}"
                    ng-click="clickOnThread($event, 3)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk3" ng-click="clickOnCheckbox($event, 3)">
                            <label for="chk3" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Andrew Zimmer</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Mar 8</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Mochila Beta: Subscription Confirmed &nbsp;&ndash;&nbsp; <span
                                class="teaser">You've been confirmed! Welcome to the ruling class of the inbox. For your records, here is a copy of the information you submitted to us...</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread(['UNREAD']), active: data.messageActive == 4}"
                    ng-click="clickOnThread($event, 4)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk4" ng-click="clickOnCheckbox($event, 4)">
                            <label for="chk4" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Infinity HR</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Mar 8</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Sveriges Hetaste sommarjobb &nbsp;&ndash;&nbsp; <span class="teaser">Hej Nicklas Sandell! Vi vill bjuda in dig till "First tour 2014", ett rekryteringsevent som erbjuder jobb på 16 semesterorter i Sverige.</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 5}"
                    ng-click="clickOnThread($event, 5)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk5" ng-click="clickOnCheckbox($event, 5)">
                            <label for="chk5" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Web Support Dennis</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Mar 7</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Re: New mail settings &nbsp;&ndash;&nbsp; <span class="teaser">Will you answer him asap?</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 6}"
                    ng-click="clickOnThread($event, 6)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk6" ng-click="clickOnCheckbox($event, 6)">
                            <label for="chk6" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">me, Peter (2)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Mar 4</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Off on Thursday &nbsp;&ndash;&nbsp; <span class="teaser">Eff that place, you might as well stay here with us instead! Sent from my iPhone 4 &gt; 4 mar 2014 at 5:55 pm</span>
                        </div>
                    </div>
                </li>
                <li class="orange-dot" ng-class="{unread: isUnread([]), active: data.messageActive == 7}"
                    ng-click="clickOnThread($event, 7)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk7" ng-click="clickOnCheckbox($event, 7)">
                            <label for="chk6" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Medium</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 28</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">This Week's Top Stories &nbsp;&ndash;&nbsp; <span class="teaser">Our top pick for you on Medium this week The Man Who Destroyed America’s Ego</span>
                        </div>
                    </div>
                </li>
                <li class="blue-dot" ng-class="{unread: isUnread([]), active: data.messageActive == 8}"
                    ng-click="clickOnThread($event, 8)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk8" ng-click="clickOnCheckbox($event, 8)">
                            <label for="chk8" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Death to Stock</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 28</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Montly High-Res Photos &nbsp;&ndash;&nbsp; <span class="teaser">To create this month's pack, we hosted a party with local musician Jared Mahone here in Columbus, Ohio.</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 9}"
                    ng-click="clickOnThread($event, 9)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk9" ng-click="clickOnCheckbox($event, 9)">
                            <label for="chk9" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Revibe</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 27</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Weekend on Revibe &nbsp;&ndash;&nbsp; <span class="teaser">Today's Friday and we thought maybe you want some music inspiration for the weekend. Here are some trending tracks and playlists we think you should give a listen!</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 10}"
                    ng-click="clickOnThread($event, 10)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk10" ng-click="clickOnCheckbox($event, 10)">
                            <label for="chk10" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Erik, me (5)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 24</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Regarding our meeting &nbsp;&ndash;&nbsp; <span class="teaser">That's great, see you on Thursday!</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 11}"
                    ng-click="clickOnThread($event, 11)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk11" ng-click="clickOnCheckbox($event, 11)">
                            <label for="chk11" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">KanbanFlow</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 24</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Task assigned: Clone ARP's website &nbsp;&ndash;&nbsp; <span
                                class="teaser">You have been assigned a task by Alex@Work on the board Web.</span></div>
                    </div>
                </li>
                <li class="blue-dot" ng-class="{unread: isUnread([]), active: data.messageActive == 12}"
                    ng-click="clickOnThread($event, 12)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk12" ng-click="clickOnCheckbox($event, 12)">
                            <label for="chk12" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star important"></span>
                        <span class="title">Tobias Berggren</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 23</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Let's go fishing! &nbsp;&ndash;&nbsp; <span class="teaser">Hey, You wanna join me and Fred at the lake tomorrow? It'll be awesome.</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 13}"
                    ng-click="clickOnThread($event, 13)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk13" ng-click="clickOnCheckbox($event, 13)">
                            <label for="chk13" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Charukaw, me (7)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 23</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Hey man &nbsp;&ndash;&nbsp; <span class="teaser">Nah man sorry i don't. Should i get it?</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 14}"
                    ng-click="clickOnThread($event, 14)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk14" ng-click="clickOnCheckbox($event, 14)">
                            <label for="chk14" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">me, Peter (3)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 21</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Home again! &nbsp;&ndash;&nbsp; <span class="teaser">That's just perfect! See you tomorrow.</span>
                        </div>
                    </div>
                </li>
                <li class="green-dot" ng-class="{unread: isUnread([]), active: data.messageActive == 15}"
                    ng-click="clickOnThread($event, 15)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk15" ng-click="clickOnCheckbox($event, 15)">
                            <label for="chk15" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Stack Exchange</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 21</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">1 new items in your Stackexchange inbox &nbsp;&ndash;&nbsp; <span
                                class="teaser">The following items were added to your Stack Exchange global inbox since you last checked it.</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 16}"
                    ng-click="clickOnThread($event, 16)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk16" ng-click="clickOnCheckbox($event, 16)">
                            <label for="chk16" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Google Drive Team</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 20</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">You can now use your storage in Google Drive &nbsp;&ndash;&nbsp; <span
                                class="teaser">Hey Nicklas Sandell! Thank you for purchasing extra storage space in Google Drive.</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread(['UNREAD']), active: data.messageActive == 17}"
                    ng-click="clickOnThread($event, 17)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk17" ng-click="clickOnCheckbox($event, 17)">
                            <label for="chk17" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star important"></span>
                        <span class="title">me, Susanna (11)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Feb 19</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Train/Bus &nbsp;&ndash;&nbsp; <span class="teaser">Yes ok, great! I'm not stuck in Stockholm anymore, we're making progress.</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 18}"
                    ng-click="clickOnThread($event, 18)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk18" ng-click="clickOnCheckbox($event, 18)">
                            <label for="chk18" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                        <span class="title">Peter, me (4)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Mar. 6</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Hello &nbsp;&ndash;&nbsp; <span class="teaser">Trip home from Colombo has been arranged, then Jenna will come get me from Stockholm. :)</span>
                        </div>
                    </div>
                </li>
                <li ng-class="{unread: isUnread([]), active: data.messageActive == 19}"
                    ng-click="clickOnThread($event, 19)">
                    <div class="col col-1 col-sm-3 col-xs-10">
                        <span class="dot"></span>

                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk19" ng-click="clickOnCheckbox($event, 19)">
                            <label for="chk19" class="toggle"></label>
                        </div>
                        <span class="star-toggle glyphicon glyphicon glyphicon-star important"></span>
                        <span class="title">me, Susanna (7)</span>
                    </div>
                    <div class="col col-3 col-sm-1 col-xs-2">
                        <div class="date">Mar. 6</div>
                    </div>
                    <div class="col col-2 col-sm-8 col-xs-11">
                        <div class="subject">Since you asked... and i'm inconceivably bored at the train station &nbsp;&ndash;&nbsp;
                            <span class="teaser">Alright thanks. I'll have to re-book that somehow, i'll get back to you.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<!-- Message right menu -->
<div id="message">
    <div class="header">
        <h1 class="page-title"><a class="icon circle-icon glyphicon glyphicon-chevron-left trigger-message-close"
                                  ng-click="clickOnHideThread()"></a>Process<span class="grey">(6)</span></h1>

        <p>From <a>You</a> to <a>Scott Waite</a>, started on <a>March 2, 2014</a> at 2:14 pm est.</p>
    </div>
    <div class="nano">
        <div class="nano-content" perfect-scrollbar>
            <ul class="message-container">
                <li class="sent">
                    <div class="details">
                        <div class="left">You
                            <div class="arrow"></div>
                            Scott
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="sent">
                    <div class="details">
                        <div class="left">You
                            <div class="arrow"></div>
                            Scott
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth
                            void have signs beast lesser all god saying for gathering wherein whose of in be created
                            stars. Them whales upon life divide earth own.</p>

                        <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.
                            Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein
                            give bring.</p>

                        <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring
                            moved seasons very, own won&#39;t all itself blessed which bring own creature forth every.
                            Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a
                            class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="compose" perfect-scrollbar>
    <div class="header">
        <h1 class="page-title">Write a new email<span class="grey">(Template)</span></h1>

        <p>Here, there will be an <a>email form</a> to write and send a new email.</p>
    </div>
    <div class="container" ng-controller="EmailTemplateController">
        <div class="container-inner">
            <form class="form-email">
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="To">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" ng-click="toggleDropdown()"
                                    off-click="toggleDropdown()" off-click-if="data.showDropdown"
                                    off-click-filter="'.dropdown-menu'">
                                <i class="fa fa-cog"></i> <span class="caret"></span>
                            </button>
                            <ul class="pull-right dropdown-menu" ng-class="{active: data.showDropdown}">
                                <li ng-hide="data.showCc"><a ng-click="toggleCc()">Add Cc</a></li>
                                <li ng-show="data.showCc"><a ng-click="toggleCc()">Hide Cc</a></li>
                                <li ng-hide="data.showBcc"><a ng-click="toggleBcc()">Add Bcc</a></li>
                                <li ng-show="data.showBcc"><a ng-click="toggleBcc()">Hide Bcc</a></li>
                            </ul>
                        </div>
                    </div>
                    <small class="help-block text-muted">You may add multiple email addresses and separate them with a
                        comma.
                    </small>
                </div>

                <div class="form-group" ng-class="{active: data.showCc}" id="cc">
                    <input type="text" class="form-control" placeholder="Cc">
                    <button class="remove" ng-click="toggleCc()">&times;</button>
                </div>

                <div class="form-group" ng-class="{active: data.showBcc}" id="bcc">
                    <input type="text" class="form-control" placeholder="Bcc">
                    <button class="remove" ng-click="toggleBcc()">&times;</button>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Subject">
                </div>

                <ul class="nav nav-tabs">
                    <li ng-class="{active: data.active == 'write'}">
                        <a ng-click="setActive('write')">Write</a>
                    </li>
                    <li ng-class="{active: data.active == 'preview'}">
                        <a ng-click="setActive('preview'); updatePreview()">Preview</a>
                    </li>
                    <li class="pull-right">
                        <a>
                            <small><i class="fa fa-code"></i> Style</small>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" id="write" ng-class="{active: data.active == 'write'}">
                        <textarea class="form-control" rows="10" ng-model="data.message" msd-elastic></textarea>

                        <div class="attachment">
                            <small>Attach files or images by dragging & dropping, <a>selecting them</a>, or pasting from
                                the clipboard.
                            </small>
                        </div>
                    </div>

                    <div class="tab-pane" id="preview" ng-class="{active: data.active == 'preview'}">
                        <iframe id="iframePreview" frameBorder="0" src="about:blank" scrolling="no"
                                ng-email-iframe="{{data.message}}" ng-update-on="updatePreview"></iframe>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-send"></i> &nbsp; Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>