@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/Roboto/thin.woff2) format('woff2'), url(../fonts/Roboto/thin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto/light.woff2) format('woff2'), url(../fonts/Roboto/light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto/regular.woff2) format('woff2'), url(../fonts/Roboto/regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto/medium.woff2) format('woff2'), url(../fonts/Roboto/medium.woff) format('woff');
}